<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">商品信息编辑</h3>
                    </div>
                    <div class="card-body">
                        <form id="goodsForm" onsubmit="return false;">
                            <div class="form-group" style="display:flex;">
                                <label class="control-label">*请选择商品分类:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <select class="form-control col-sm-3" id="category" name="category" data-placeholder="请选择分类...">
                                    <th:block th:unless="${null == list}">
                                        <th:block th:each="c : ${list}">
                                            <option th:value="${c.id}" th:text="${c.name}"
                                                    th:selected="${null != vo and null != vo.category and c.id==vo.category} ? true:false"
                                            ></option>
                                        </th:block>
                                    </th:block>
                                </select>&nbsp;
                            </div>
                            <div class="form-group" style="display:flex;">
                                <input type="hidden" id="id" name="id"
                                       th:value="${vo!=null and vo.id!=null }?${vo.id}: 0">
                                <input type="hidden" id="picName" name="picName"
                                       th:value="${vo!=null and vo.images!=null }?${vo.images}: 0">
                                <label class="control-label">*请输入商品名称:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" class="form-control col-sm-6" id="title" name="title"
                                       placeholder="请输入商品名称(必填)"
                                       th:value="${vo!=null and vo.title!=null }?${vo.title}: ''"
                                       required="true" autocomplete="off">
                            </div>
                            <div class="form-group" style="display:flex;">
                                <label class="control-label">*请输入商品价格:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" class="form-control col-sm-6" id="priceDouble" name="priceDouble"
                                       placeholder="请输入商品价格(单位:元)"
                                       th:value="${vo!=null and vo.priceDouble!=null }?${vo.priceDouble}: ''"
                                       required="true" autocomplete="off">
                            </div>
                            <div class="form-group" style="display:flex;">
                                <label class="control-label">*请输入商品库存:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input type="number" class="form-control col-sm-6" id="stock" name="stock"
                                       placeholder="请输入商品库存数"
                                       th:value="${vo!=null and vo.stock!=null }?${vo.stock}: 1"
                                       required="true" autocomplete="off">
                            </div>
                            <div class="form-group" style="display:flex;">
                                <label class="control-label">*请输入商品标签:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" class="form-control col-sm-6" id="tags" name="tags"
                                       placeholder="请输入商品标签(英文逗号分隔)"
                                       th:value="${vo!=null and vo.tags!=null }?${vo.tags}: ''"
                                       required="true" autocomplete="off">
                            </div>
                            <div class="form-group" style="display:flex;">
                                <label class="control-label">*请输入图书作者:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" class="form-control col-sm-6" id="author" name="author"
                                       placeholder="请输入图书作者"
                                       th:value="${vo!=null and vo.author!=null }?${vo.author}: ''"
                                       required="true" autocomplete="off">
                            </div>
                            <div class="form-group" style="display:flex;">
                                <label class="control-label">*请输入出版社名称:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" class="form-control col-sm-6" id="publisher" name="publisher"
                                       placeholder="请输入出版社名称"
                                       th:value="${vo!=null and vo.publisher!=null }?${vo.publisher}: ''"
                                       required="true" autocomplete="off">
                            </div>
                            <div class="form-group" style="display:flex;">
                                <label class="control-label">*请输入图书ISBN:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" class="form-control col-sm-6" id="isbn" name="isbn"
                                       placeholder="请输入图书ISBN"
                                       th:value="${vo!=null and vo.isbn!=null }?${vo.isbn}: ''"
                                       required="true" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <th:block th:if="${null == vo}">
                                        <img id="goodsCoverImg" src="/admin/dist/img/img-upload.png" alt="图片暂时找不到了"
                                             style="height: 64px;width: 64px;">
                                    </th:block>
                                    <th:block th:unless="${null == vo}">
                                        <img id="goodsCoverImg" th:src="'http://121.36.150.173:8888/'+${vo.thumbnailImage}" alt="图片暂时找不到了"
                                             style="width:160px ;height: 160px;display:block;">
                                    </th:block>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <button class="btn btn-info" style="margin-bottom: 5px;"
                                            id="uploadGoodsCoverImg">
                                        <i class="fa fa-picture-o"></i>&nbsp;上传商品主图
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea id="editor" style="width: 100%; height: 750px;"
                                          th:utext="${vo!=null and vo.detail !=null}?${vo.detail}: ''"></textarea>
                            </div>
                            <div class="form-group">
                                <!-- 按钮 -->
                                &nbsp;<button class="btn btn-info float-right" style="margin-left: 5px;"
                                              id="saveButton">保存商品
                            </button>&nbsp;
                                &nbsp;<button class="btn btn-secondary float-right" style="margin-left: 5px;"
                                              id="cancelButton">返回商品列表
                            </button>&nbsp;
                            </div>
                        </form>
                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!--<div class="content">
            &lt;!&ndash; 模态框（Modal） &ndash;&gt;
            <div class="modal fade" id="goodsModal" tabindex="-1" role="dialog" aria-labelledby="goodsModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="goodsModalLabel">信息完善</h6>
                        </div>
                        <div class="modal-body">
                            <form onsubmit="return false;">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <th:block th:if="${null == goods}">
                                            <img id="goodsCoverImg" src="/admin/dist/img/img-upload.png"
                                                 style="height: 64px;width: 64px;">
                                        </th:block>
                                        <th:block th:unless="${null == goods}">
                                            <img id="goodsCoverImg" th:src="${goods.goodsCoverImg}"
                                                 style="width:160px ;height: 160px;display:block;">
                                        </th:block>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <button class="btn btn-info" style="margin-bottom: 5px;"
                                                id="uploadGoodsCoverImg">
                                            <i class="fa fa-picture-o"></i>&nbsp;上传商品主图
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="saveButton">确认</button>
                        </div>
                    </div>
                </div>
            </div>
            &lt;!&ndash; /.modal &ndash;&gt;
        </div>-->
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- ajaxupload -->
<script th:src="@{/admin/plugins/ajaxupload/ajaxupload.js}"></script>
<!-- kindeditor -->
<script th:src="@{/admin/plugins/kindeditor-4.1.10/kindeditor-all.js}"></script>
<script th:src="@{/admin/plugins/kindeditor-4.1.10/lang/zh_CN.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/dist/js/newbee_mall_goods_edit.js}"></script>
</body>
</html>
