<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('图书商城-首页','index')">
</head>
<body>
<header th:replace="mall/header::header-fragment"></header>
<content id="content">
    <nav th:replace="mall/header::nav-fragment"></nav>
    <div id="banner">
        <div class="all-sort-list">
            <th:block th:each="category : ${categories}">
            <div class="item">
                <h3><span>·</span><a href="##"><th:block th:text="${category.categoryName}"></th:block></a></h3>
                <div class="item-list clearfix">
                    <div class="subitem">
                        <th:block th:each="secondLevelCategory : ${category.secondLevelCategoryVOS}">
                        <dl class="fore1">
                            <dt><a href="#"><th:block th:text="${secondLevelCategory.categoryName}"></th:block></a></dt>
                            <dd>
                                <th:block th:each="thirdLevelCategory : ${secondLevelCategory.thirdLevelCategoryVOS}">
                                <em><a href="#"th:href="@{'/search?goodsCategoryId='+${thirdLevelCategory.categoryId}}">
                                    <th:block th:text="${thirdLevelCategory.categoryName}"></th:block>
                                </a></em>
                                </th:block>
                            </dd>
                        </dl>
                        </th:block>
                    </div>
                </div>
            </div>
            </th:block>
        </div>
        <div class="swiper-container fl">
            <div class="swiper-wrapper">
                <!-- 配置了轮播图则显示后台配置的轮播图 -->
                <th:block th:unless="${#lists.isEmpty(carousels)}">
                    <th:block th:each="carousel : ${carousels}">
                        <div class="swiper-slide">
                            <a th:href="@{${carousel.redirectUrl}}">
                                <img th:src="@{${carousel.carouselUrl}}" alt="">
                            </a>
                        </div>
                    </th:block>
                </th:block>
                <!-- 未配置轮播图则显示默认的三张轮播图 -->
                <th:block th:if="${#lists.isEmpty(carousels)}">
                    <div class="swiper-slide">
                        <img src="./mall/image/swiper/banner01.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="./mall/image/swiper/banner02.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="./mall/image/swiper/banner03.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="./mall/image/swiper/banner04.jpg" alt="">
                    </div>
                </th:block>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <div id="sub_banner">
        <!-- 已配置热销商品则显示配置内容 -->
        <th:block th:unless="${#lists.isEmpty(hotGoodses)}">
            <th:block th:each="hotGoodse : ${hotGoodses}">
                <div class="hot-image">
                    <a th:href="@{'/goods/detail/'+${hotGoodse.goodsId}}">
                        <img th:src="@{${hotGoodse.goodsCoverImg}}" th:alt="${hotGoodse.goodsName}">
                    </a>
                </div>
            </th:block>
        </th:block>
        <!-- 未配置热销商品则显示默认 -->
        <th:block th:if="${#lists.isEmpty(hotGoodses)}">
            <div class="hot-image">
                <a href="##">
                    <img src="./mall/image/sub_banner/hot1.jpg" alt="">
                </a>
            </div>
            <div class="hot-image">
                <a href="##">
                    <img src="./mall/image/sub_banner/hot2.jpg" alt="">
                </a>
            </div>
            <div class="hot-image">
                <a href="##">
                    <img src="./mall/image/sub_banner/hot3.jpg" alt="">
                </a>
            </div>
            <div class="hot-image">
                <a href="##">
                    <img src="./mall/image/sub_banner/hot4.jpg" alt="">
                </a>
            </div>
        </th:block>
    </div>

    <div id="flash">
        <h2>新品上线</h2>
        <ul>
            <!-- 已配置新品则显示配置内容 -->
            <th:block th:unless="${#lists.isEmpty(newGoodses)}">
                <th:block th:each="newGoods : ${newGoodses}">
                    <li>
                        <a th:href="@{'/goods/detail/'+${newGoods.goodsId}}">
                            <img th:src="@{${newGoods.goodsCoverImg}}" th:alt="${newGoods.goodsName}">
                            <p class="name" th:text="${newGoods.goodsName}">NewBeeMall</p>
                            <p class="discount" th:text="${newGoods.goodsIntro}">NewBeeMall</p>
                            <p class="item_price" th:text="${newGoods.sellingPrice}">NewBeeMall</p>
                        </a>
                    </li>
                </th:block>
            </th:block>
            <!-- 未配置则显示默认 -->
            <th:block th:if="${#lists.isEmpty(newGoodses)}">
                <li>
                    <a href="##">
                        <img src="./mall/image/sub_banner/new01.jpg" alt=""/>
                        <p class="name">上学了 学习是头等大事</p>
                        <p class="discount">一年级——学会管自己</p>
                        <p class="price">20.00</p>
                    </a>
                </li>
                <li>
                    <a href="##">
                        <img src="./mall/image/sub_banner/new02.jpg" alt=""/>
                        <p class="name">绿山墙的安妮</p>
                        <p class="discount">让孩子拥有自由、喜悦与充满爱的心灵</p>
                        <p class="price">17.90</p>
                    </a>
                </li>
                <li>
                    <a href="##">
                        <img src="./mall/image/sub_banner/new03.jpg" alt=""/>
                        <p class="name">茶馆</p>
                        <p class="discount">老舍传世经典</p>
                        <p class="price">9.99</p>
                    </a>
                </li>
                <li>
                    <a href="##">
                        <img src="./mall/image/sub_banner/new04.png" alt=""/>
                        <p class="name">南甜北咸:人间至味是清欢</p>
                        <p class="discount">美食与历史记忆田野调查 + 新人文美食</p>
                        <p class="price">18.62</p>
                    </a>
                </li>
                <li>
                    <a href="##">
                        <img src="./mall/image/sub_banner/new05.jpg" alt=""/>
                        <p class="name">乌合之众正版</p>
                        <p class="discount">社会人际交往心理学入门基础书籍</p>
                        <p class="price">128.00</p>
                    </a>
                </li>
            </th:block>
        </ul>
    </div>

    <div id="recommend">
        <h2>为你推荐</h2>
        <a href="##" class="more">查看更多>></a>
        <ul>
            <!-- 已配置推荐商品则显示配置内容 -->
            <th:block th:unless="${#lists.isEmpty(recommendGoodses)}">
                <th:block th:each="recommendGoods : ${recommendGoodses}">
                    <li>
                        <a th:href="@{'/goods/detail/'+${recommendGoods.goodsId}}">
                            <div class="info discount" th:text="${recommendGoods.tag}">
                                新品
                            </div>
                            <img th:src="@{${recommendGoods.goodsCoverImg}}" th:alt="${recommendGoods.goodsName}">
                            <p class="name" th:text="${recommendGoods.goodsName}">NewBeeMall</p>
                            <p class="item_price" th:text="${recommendGoods.sellingPrice}">NewBeeMall</p>
                            <p class="counter">猜你喜欢</p>
                            <div class="comment">
                                <p>图书精选</p>
                                <p>好书也可以不贵</p>
                            </div>
                        </a>
                    </li>
                </th:block>
            </th:block>
            <!-- 未配置则显示默认 -->
            <th:block th:if="${#lists.isEmpty(recommendGoodses)}">
                <li>
                    <a href="##">
                        <div class="info discount">
                            为你推荐
                        </div>
                        <img src="./mall/image/sub_banner/r01.jpg" alt=""/>
                        <p class="name">镖人2(签章版)</p>
                        <p class="price">22.00</p>
                        <p class="counter">猜你喜欢</p>
                        <div class="comment">
                            <p>图书精选</p>
                            <p>好书也可以不贵</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="##">
                        <div class="info discount">
                            为你推荐
                        </div>
                        <img src="./mall/image/sub_banner/r02.jpg" alt=""/>
                        <p class="name">自立</p>
                        <p class="price">9.90</p>
                        <p class="counter">猜你喜欢</p>
                        <div class="comment">
                            <p>图书精选</p>
                            <p>好书也可以不贵</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="##">
                        <div class="info discount">
                            为你推荐
                        </div>
                        <img src="./mall/image/sub_banner/r03.jpg" alt=""/>
                        <p class="name">自然史</p>
                        <p class="price">32.10</p>
                        <p class="counter">猜你喜欢</p>
                        <div class="comment">
                            <p>图书精选</p>
                            <p>好书也可以不贵</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="##">
                        <div class="info discount">
                            为你推荐
                        </div>
                        <img src="./mall/image/sub_banner/r04.jpg" alt=""/>
                        <p class="name">草枕</p>
                        <p class="price">10.8</p>
                        <p class="counter">猜你喜欢</p>
                        <div class="comment">
                            <p>图书精选</p>
                            <p>好书也可以不贵</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="##">
                        <div class="info discount">
                            为你推荐
                        </div>
                        <img src="./mall/image/sub_banner/r05.jpg" alt=""/>
                        <p class="name">中国家风</p>
                        <p class="price">12.90</p>
                        <p class="counter">猜你喜欢</p>
                        <div class="comment">
                            <p>图书精选</p>
                            <p>好书也可以不贵</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="##">
                        <div class="info discount">
                            为你推荐
                        </div>
                        <img src="./mall/image/sub_banner/r06.jpg" alt=""/>
                        <p class="name">中国味道</p>
                        <p class="price">14.82</p>
                        <p class="counter">猜你喜欢</p>
                        <div class="comment">
                            <p>图书精选</p>
                            <p>好书也可以不贵</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="##">
                        <div class="info discount">
                            为你推荐
                        </div>
                        <img src="./mall/image/sub_banner/r07.jpg" alt=""/>
                        <p class="name">边城</p>
                        <p class="price">28.50</p>
                        <p class="counter">猜你喜欢</p>
                        <div class="comment">
                            <p>图书精选</p>
                            <p>好书也可以不贵</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="##">
                        <div class="info discount">
                            为你推荐
                        </div>
                        <img src="./mall/image/sub_banner/r08.jpg" alt=""/>
                        <p class="name">儒林外史6</p>
                        <p class="price">21.30</p>
                        <p class="counter">猜你喜欢</p>
                        <div class="comment">
                            <p>图书精选</p>
                            <p>好书也可以不贵</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="##">
                        <div class="info discount">
                            为你推荐
                        </div>
                        <img src="./mall/image/sub_banner/r09.jpg" alt=""/>
                        <p class="name">流浪的地球</p>
                        <p class="price">22.90</p>
                        <p class="counter">猜你喜欢</p>
                        <div class="comment">
                            <p>图书精选</p>
                            <p>好书也可以不贵</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="##">
                        <div class="info discount">
                            为你推荐
                        </div>
                        <img src="./mall/image/sub_banner/r10.jpg" alt=""/>
                        <p class="name">汤姆·索亚历险记</p>
                        <p class="price">20.40</p>
                        <p class="counter">猜你喜欢</p>
                        <div class="comment">
                            <p>图书精选</p>
                            <p>好书也可以不贵</p>
                        </div>
                    </a>
                </li>
            </th:block>
        </ul>
    </div>
</content>
<div th:replace="mall/footer::footer-fragment"></div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/mall/js/swiper.min.js}" type="text/javascript"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/mall/js/index.js}" type="text/javascript"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>
</body>
</html>