<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('图书商城-订单列表','my-orders')">
</head>
<body>
<header th:replace="mall/header::header-fragment"></header>
<!-- nav -->
<nav th:replace="mall/header::nav-fragment"></nav>

<!-- personal -->
<div id="personal">
    <div class="self-info center">

        <!-- sidebar -->
        <div th:replace="mall/personal-sidebar::sidebar-fragment"></div>

        <div class="intro fr">
            <div class="uc-box uc-main-box">
                <div class="uc-content-box order-list-box">
                    <div class="box-hd">
                        <h1 class="title">我的订单
                            <small>请谨防钓鱼链接或诈骗电话，<a href="##">了解更多&gt;</a>
                            </small>
                        </h1>
                    </div>
                    <div class="box-bd">
                        <div id="J_orderList">
                            <ul class="order-list">
                                <th:block th:unless="${#lists.isEmpty(page.list)}">
                                    <th:block th:each="order : ${page.list}">
                                        <li class="uc-order-item uc-order-item-list">
                                            <div class="order-detail">
                                                <div class="order-summary">
                                                    <th:block th:if="${order.orderStatus==2 or order.orderStatus==3 or order.orderStatus==4}">
                                                        <div class="order-status-closed"></div>
                                                    </th:block>
                                                    <th:block th:if="${order.orderStatus==1}">
                                                        <div class="order-status-need-pay"></div>
                                                    </th:block>
                                                    <th:block th:if="${order.orderStatus>4}">
                                                        <div class="order-status-success"></div>
                                                    </th:block>
                                                    <th:block th:text="${' '+order.orderStatusString}"></th:block>
                                                </div>
                                            </div>
                                            <table class="order-detail-table">
                                                <thead>
                                                    <tr>
                                                        <th class="col-main">
                                                            <p class="caption-info" th:text="${#dates.format(order.createTime, 'yyyy-MM-dd HH:mm:ss')}">
                                                                02月07日
                                                                <span class="sep">|</span>订单号：
                                                                <a href="##" th:text="${order.orderNo}"></a>
                                                                <span class="sep">|</span>在线支付
                                                            </p>
                                                        </th>
                                                        <th class="col-sub">
                                                            <p class="caption-price">应付金额：
                                                                <span class="num" th:text="${order.totalPriceDouble}"></span>元
                                                            </p>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="order-items">
                                                            <ul class="goods-list">
                                                                <th:block th:each="item : ${order.goods}">
                                                                    <li>
                                                                        <div class="figure figure-thumb">
                                                                            <a target="_blank" th:href="@{'/store/goods/detail/'+${item.goodsId}}">
                                                                                <img th:src="@{${item.img}}" width="80" height="80" alt="">
                                                                            </a>
                                                                        </div>
                                                                        <p class="name">
                                                                            <a target="_blank" th:href="@{'/store/goods/detail/'+${item.goodsId}}"
                                                                               th:text="${item.goodsTitle}">
                                                                            </a>
                                                                        </p>
                                                                        <p class="price"
                                                                           th:text="${item.priceDouble+'元 x '+item.goodsNum+'='+item.goodsTotalPrice+'元'}">
                                                                        </p>
                                                                    </li>
                                                                </th:block>
                                                            </ul>
                                                        </td>
                                                        <td class="order-actions">
                                                            <a class="btn btn-small btn-line-gray" th:href="@{${'/store/order/detail/'+order.orderNo}}">订单详情</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    </th:block>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                    <div id="J_orderListPages">
                        <div class="newbee-pagenavi">
                            <th:block th:if="${page.pageNum-2 >=1}"><a
                                    class="numbers"
                                    th:href="@{'/store/order/list?pageNum=' + ${page.pageNum-2}}"
                                    th:text="${page.pageNum -2}">1</a>
                            </th:block>
                            <th:block th:if="${page.pageNum-1 >=1}"><a
                                    class="numbers"
                                    th:href="@{'/store/order/list?pageNum=' + ${page.pageNum-1}}"
                                    th:text="${page.pageNum -1}">1</a>
                            </th:block>
                            <a href="##" class="numbers current" th:text="${page.pageNum}">1</a>
                            <th:block th:if="${page.pageNum+1<=page.pages}"><a
                                    class="numbers"
                                    th:href="@{'/store/order/list?pageNum=' + ${page.pageNum+1}}"
                                    th:text="${page.pageNum +1}">1</a></th:block>
                            <th:block th:if="${page.pageNum+2<=page.pages}"><a
                                    class="numbers"
                                    th:href="@{'/store/order/list?pageNum=' + ${page.pageNum+2}}"
                                    th:text="${page.pageNum +2}">1</a></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
</div>

<div th:replace="mall/footer::footer-fragment"></div>

<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>

</body>
</html>