<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yangwanhao.bookstore.mapper.custom.CustomCartMapper" >
  <resultMap id="BaseResultMap" type="cn.yangwanhao.bookstore.entity.Cart" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="goods_num" property="goodsNum" jdbcType="INTEGER" />
    <result column="goods_is_deleted" property="goodsIsDeleted" jdbcType="INTEGER" />
    <result column="goods_is_off_the_shelves" property="goodsIsOffTheShelves" jdbcType="INTEGER" />
    <result column="goods_version" property="goodsVersion" jdbcType="BIGINT" />
  </resultMap>

  <resultMap id="cartGoodsListVoResultMap" type="cn.yangwanhao.bookstore.vo.CartGoodsListVo">
    <result column="id" property="goodsId" jdbcType="BIGINT" />
    <result column="title" property="goodsTitle" jdbcType="VARCHAR" />
    <result column="imgs" property="goodsCoverImageUrl" jdbcType="VARCHAR" />
    <result column="goods_num" property="goodsNum" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="BIGINT" />
    <result column="goods_status" property="goodsStatus" jdbcType="INTEGER" />
  </resultMap>

  <select id="selectCart" resultMap="cartGoodsListVoResultMap">
    SELECT
    ca.goods_num,
    gb.id, gb.goods_status, gb.price,
    gi.title, gi.imgs
    FROM cart ca
    LEFT JOIN goods_base gb ON gb.id=ca.goods_id
    LEFT JOIN goods_info gi ON gi.id=ca.goods_id
    WHERE c.user_id=#{loginUserId}
  </select>

  <update id="updateCartGoodsNum">
    UPDATE cart
    SET
    <choose>
      <when test="operate == 1">
        goods_num=goods_num+1
      </when>
      <otherwise>
        goods_num=goods_num-1
      </otherwise>
    </choose>
    WHERE user_id=#{loginUserId} AND goods_id=#{goodsId}
  </update>

  <update id="onShelfGoods">
    UPDATE cart
    SET goods_is_off_the_shelves=0
    WHERE goods_id IN
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
    AND goods_is_off_the_shelves=1
  </update>

  <update id="offShelfGoods">
    UPDATE cart
    SET goods_is_off_the_shelves=1
    WHERE goods_id IN
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
    AND goods_is_off_the_shelves=0
  </update>

  <update id="manageDeleteGoods">
    UPDATE cart
    SET goods_is_deleted=1
    WHERE goods_id=#{goodsId} AND goods_is_deleted=0
  </update>
</mapper>