<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yangwanhao.bookstore.mapper.custom.CustomUserMapper" >
  <resultMap id="BaseResultMap" type="cn.yangwanhao.bookstore.entity.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="loginname" property="loginname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="pwd_error_count" property="pwdErrorCount" jdbcType="INTEGER" />
    <result column="is_locked" property="isLocked" jdbcType="INTEGER" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="selectRolesByUserId" resultType="java.lang.String">
    SELECT r.role_name
    FROM user_role ur
    LEFT JOIN role r ON ur.role_id=r.id
    WHERE ur.user_id=#{userId} AND ur.is_started=1
  </select>

  <update id="addPwdErrorCount">
    UPDATE `user`
    SET pwd_error_count=pwd_error_count+1
    WHERE id=#{userId}
  </update>

    <select id="getUserInfoById" resultType="cn.yangwanhao.bookstore.vo.UserInfoVo">
    SELECT
    id AS userId, realname, loginname, phone, email, sex, birthday
    FROM user
    where id=#{loginUserId}
  </select>

  <update id="unlockAccountBeforeToday">
    UPDATE `user`
    SET pwd_error_count=0, is_locked=0, lock_time=null
    WHERE is_locked=1 AND TO_DAYS(NOW())-TO_DAYS(lock_time)&gt;=1
  </update>

  <update id="unlockAccount">
    UPDATE `user`
    SET pwd_error_count=0, is_locked=0, lock_time=null
    WHERE pwd_error_count!=0
  </update>

</mapper>
